fastapi==0.119.1
uvicorn[standard]==0.38.0
python-multipart==0.0.20
matplotlib==3.10.7
pandas==2.2.2
networkx==3.3
PyYAML==6.0.3
numpy>=1.26,<3.0          # явный пин под pandas/matplotlib
qiskit>=1.0,<2.0          # сам Qiskit (Terra: QuantumCircuit и т.п.)
